# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Data files (don’t push raw/processed to GitHub)
data/raw/*
data/processed/*

# But keep the .gitkeep files
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Databricks/VSCode
*.dbc
.vscode/

